/Temp
/Library
/QuickUnity.userprefs
/QuickUnity-csharp.sln
/Assembly-CSharp.csproj
/Assembly-CSharp-vs.csproj
/QuickUnity.sln
/obj
/UnityVS.QuickUnity.CSharp.csproj
/UnityVS.QuickUnity.sln
/UnityVS.QuickUnity.sln.DotSettings
/UnityVS.QuickUnity.v12.suo
/Assets/UnityVS
/UnityVS.QuickUnity.v11.suo
/UnityVS.QuickUnity.CSharp.Editor.csproj
/Assets/UnityVS.meta
/UnityVS.QuickUnity.sln.GhostDoc.xml
/Builds
/Assets/Plugins/UnityVS
/Assets/Plugins/UnityVS.meta
/.vs
/QuickUnity.CSharp.Editor.csproj
/QuickUnity.CSharp.csproj
/QuickUnity.unitypackage
/QuickUnityV2.CSharp.csproj
/QuickUnityV2.CSharp.Editor.csproj
/QuickUnityV2.sln
/QuickUnityV2.sln.GhostDoc.xml
/Logs
/QuickUnityV2.Editor.csproj
/QuickUnityV2.csproj
/QuickUnityV2.Plugins.csproj
/Assets/VSCode
/.vscode
Assets/VSCode.meta

Assembly-CSharp-Editor.csproj
/QuickUnity.Editor.csproj
/QuickUnity.csproj
/QuickUnity.sln.GhostDoc.xml
